{% extends "base.html" %}
{% block title %}Editar evento{% endblock %}
{% block content %}
<h2>Editar evento</h2>
<form method="POST" class="col-md-6 mx-auto">
    <input class="form-control mb-3" type="text" name="nombre" value="{{ evento.Nombre }}" required>
    <input class="form-control mb-3" type="date" name="fecha_evento" value="{{ evento.Fecha_evento }}" required>
    <input class="form-control mb-3" type="time" name="hora_evento" value="{{ evento.Hora_evento }}" required>
    <button class="btn btn-primary w-100" type="submit">Guardar cambios</button>
</form>
{% endblock %}
