{% extends "base.html" %}
{% block title %}Nuevo evento{% endblock %}
{% block content %}
<h2>Crear nuevo evento</h2>
<form method="POST">
  <label>Nombre del evento:</label>
  <input type="text" name="nombre" required>

  <label>Fecha del evento:</label>
  <input type="date" name="fecha_evento"
         value="{{ fecha_preseleccionada }}" required>

  <label>Hora del evento:</label>
  <input type="time" name="hora_evento" required>

  <button type="submit" class="btn btn-primary">Guardar evento</button>
</form>

{% endblock %}
