{% extends "base.html" %}
{% block title %}Nueva subtarea{% endblock %}
{% block content %}
<h2>Crear nueva subtarea</h2>
<form method="POST" class="col-md-6 mx-auto">
    <input class="form-control mb-3" type="text" name="nombre" placeholder="Nombre" required>
    <textarea class="form-control mb-3" name="descripcion" placeholder="Descripción"></textarea>
    <input class="form-control mb-3" type="date" name="fecha_limite" required>
    <input class="form-control mb-3" type="number" name="tarea_padre_id" placeholder="ID de tarea padre" required>
    <button class="btn btn-success w-100" type="submit">Crear</button>
</form>
{% endblock %}
