{% extends "base.html" %}
{% block title %}Registro{% endblock %}
{% block content %}
<h2 class="m-4">Registrarse</h2>
<form method="POST" class="col-md-6 mx-auto p-10">
    <input class="form-control mb-3" type="text" name="usuario" placeholder="Usuario" required>
        <input class="form-control mb-2" type="password" name="password" placeholder="Contraseña" required>
        <small class="text-muted d-block mb-3" style="line-height:1.2">
            Requisitos: mínimo 8 caracteres, al menos 1 mayúscula, 1 minúscula y 1 número.
        </small>
    <input class="form-control mb-3" type="password" name="confirm" placeholder="Confirmar contraseña" required>
    <button class="btn btn-success w-100" type="submit">Crear cuenta</button>
</form>
{% if error %}
<p class="text-danger text-center mt-3">{{ error }}</p>
{% endif %}
<div class="text-center mt-3">
    <a href="{{ url_for('login') }}" class="small">Ya tengo cuenta, iniciar sesión</a>
</div>
{% endblock %}
